@import './reset.css';
@import './common.css';
@import url("//at.alicdn.com/t/font_2278540_87pkh1fsk23.css");


.nav-wapper{
  background-color: #fff;
  width: 100%;
}
.nav input:focus{
  outline: 0;
}
.nav{
  width: 1080px;
  height: 89px;
  background-color: #fff;
  margin: 0 auto;
  padding-top: 30px;
  box-sizing: border-box;
}
.nav-left{
  float: left;
}
.nav-right{
  float: right;
}
.nav .nav-logo{
  float: left;
  margin-right: 25px;
}
.nav .nav-search{
  float: left;
  position: relative;
}
.nav .nav-search .iconfont{
  position:absolute;
  right: 6px;
  top: 6px;
  bottom: 0;
  margin: auto 0;
  font-weight: 700;
  color: #c3c3c3;
  cursor: pointer;
}
.nav input{
  box-sizing: border-box;
  width: 270px;
  height: 30px;
  border: 1px solid #c3c3c3;
}
.nav input::placeholder{
  color: #c3c3c3;
}
.nav .nav-right li{
  float: left;
  height: 20px;
}
.nav .nav-right li a{
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 14px;
  line-height: 20em;
  overflow: hidden;
}
.nav .nav-right .book{
  background-image: url(../imgs/anony_nav_logo.png);
  background-position: 0 0;
}
.nav .nav-right .movie{
  background-image: url(../imgs/anony_nav_logo.png);
  background-position: -60px 0;
}
.nav .nav-right .music{
  background-image: url(../imgs/anony_nav_logo.png);
  background-position: -120px 0;
}
.nav .nav-right .city{
  background-image: url(../imgs/anony_nav_logo.png);
  background-position: -300px 0;
}
.nav .nav-right .team{
  background-image: url(../imgs/anony_nav_logo.png);
  background-position: -180px 0;
}
.nav .nav-right .read{
  background-image: url(../imgs/ic_read_home_nav.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.nav .nav-right .fm{
  background-image: url(../imgs/anony_nav_logo.png);
  background-position: -240px 0;
}
.nav .nav-right .time{
  background-image: url(../imgs/ic_shijian_home_nav.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.nav .nav-right .dou-pin{
  width: 43px;
  background-image: url(../imgs/anony_nav_logo.png);
  background-position: -420px 0;
  line-height: 20em;
}

/* 登录区域 */
.login-wapper{
  background-color: #EDF4ED;
  height: 304px;
  background-image: url(../imgs/login_bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: calc(50% - 305px) top;
}
.login-wapper .login-container{
  width: 950px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.login-container .login-form{
  float: right;
}
.login-container .download{
  height: 120px;
  width: 200px;
  position: absolute;
  top:0;
  bottom: 0;
  margin: auto 0 auto 475px;
}
.login-container .download h1{
  font-size: 25px;
  line-height: 25px;
  margin: 7px 0;
  text-rendering: optimizelegibility;
}
.login-container .download .download-btn{
  margin-top: 20px;
}
.login-container .download .download-btn a{
  float: left;
  font-size: 12px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  width: 115px;
  height: 30px;
  background-color: #00B51D;
  border-radius: 2px;
}
.login-container .download .download-btn .qrcode{
  float: left;
  position: relative;
}
.login-container .download .download-btn .qrcode .little{
  height: 30px;
  width: 30px;
  border: 1px solid #00B51D;
  margin-left: 5px;
  box-sizing: border-box;
}
.login-container .download .download-btn .qrcode .little:hover+.big{
  display: block;
}
.login-container .download .download-btn .qrcode .big{
  display: none;
  position: absolute;
  top: 0;
  left: 5px;
  padding: 20px 20px 5px;
  background-color: #fff;
  font-size: 13px;
  color: #666;
  text-align: center;
  white-space: nowrap;
}
/* 登录区域 */
.login-container .login-form{
  width: 300px;
  height: 300px;
  padding: 30px 10px 10px;
}
.login-container .login-form .tabs{
  border-bottom: 1px solid #ececec;
  font-size: 0;
  color: #9b9b9b;
  margin-bottom: 10px;
}
/* tab激活 */
.login-container .login-form .tabs div.active{
  border-bottom: 1px solid #000;
  font-weight: 600;
  color: #333;
}
.login-container .login-form .phone-login{
  display: none;
}
.login-container .login-form .password-login{
  display: none;
}
.login-container .login-form .phone-login.active{
  display: block;
}
.login-container .login-form .password-login.active{
  display: block;
}

/* 短信登录 */
.login-container .login-form .tabs .tab-phone{
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
}
/* 密码登录 */
.login-container .login-form .tabs .tab-pws{
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  height: 28px;
  text-align: center;
  font-size: 13px;
  line-height: 28px;
  cursor: pointer;
}

/* 提示 */
.login-container .form-item-tips{
  font-size: 12px;
  color: #9b9b9b;
  margin-bottom: 10px;
}
.login-container .form-item-tips a{
  color: #41ac52;
}
.login-container input{
  outline: 0;
}
.login-container .form-item{
  height: 33px;
  margin-bottom: 10px;
  position: relative;
}
.login-container .form-item input{
  padding: 8px 10px;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid #e4e6e5;
  width: 100%;
}
/* 手机号 */
.login-container .form-item .phone-code{
  position: absolute;
  z-index: 1;
  left: 8px;
  top: 5px;
  font-size: 15px;
  font-weight: 700;
  padding-right: 7px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.login-container .form-item input[placeholder="手机号"]{
  padding: 8px 50px;
}
.login-container .form-item .phone-code span{
  cursor: pointer;
}
.login-container .form-item .phone-code .choose-code{
  display: none;
  position: absolute;
  width: 300px;
  z-index: 1;
  background-color: #fff;
  border: 1px solid red;
  top: -81px;
  left: -10px;
  box-sizing: border-box;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 4px;
}
.login-container .form-item .phone-code .choose-code h1{
  font-size: 16px;
  font-weight: 700;
  height: 42px;
  line-height: 42px;
  background: #ebf5eb;
  color: #060;
  padding-left: 10px;
}
.login-container .form-item .phone-code .choose-code .icon-chahao{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 12px;
  color: #9c9898;
}
.login-container .form-item .phone-code .choose-code ul{
  padding: 0 15px;
  overflow-y: auto;
  height: 225px;
}
.login-container .form-item .phone-code .choose-code ul li{
  height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.login-container .form-item .phone-code .choose-code ul li.selected{
  color: #42bd56;
}
.login-container .form-item .phone-code .choose-code ul li.selected .left::after{
  content: "√";
  margin-left: 6px;
}
.login-container .form-item .phone-code .choose-code ul li .left{
  float: left;
}
.login-container .form-item .phone-code .choose-code ul li .right{
  float: right;
}
.login-container .form-item .msg-code{
  position: absolute;
  right: 8px;
  top: 6px;
  color: #00B51D;
}
.login-container .form-item.login-btn a{
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  text-align: center;
  line-height: 33px;
  background-color: #00B51D;
  color: #fff;
  font-size: 16px;
}
.login-container .form-item.msg-tip a{
  float: right;
  color: #00B51D;
}
.login-container .form-item.msg-tip{
  border-bottom: 1px solid #ccc;
}
.login-container .form-item.thrid-login{
  margin-top: -5px;
}
.login-container .form-item.thrid-login span{
  color: rgb(139, 133, 133);
}
.login-container .form-item.thrid-login i{
  padding: 0 6px;
  font-size: 20px;
}
.login-container .form-item.thrid-login .icon-weixin{
 color: #64c574; 
}
.login-container .form-item.thrid-login .icon-weibo1{
  color:#f27272; 
 }
 /* 密码登录 */
 .login-container .login-form .password-login .form-item-tips a{
   float: right;
 }
 .login-container .login-form .password-login .china{
   display: none;
 }
 .login-container .login-form .password-login .outer{
  display: none;
}
.login-container .login-form .password-login .input-show{
  display: block;
}

/* Main Start */
.main-wapper{
  width: 950px;
  margin: 0 auto;
  margin-top: 30px;
  overflow: hidden;
}

.main-wapper .main{
  overflow: hidden;
}
/* main-图册 */
.main .albums{
  width: 350px;
  margin-right: 30px;
  float: left;
}
 .title{
  margin-bottom: 12px;
}
.title h2{
  font: 15px Arial, Helvetica, sans-serif;
  color: #072;
  margin: 0 0 12px 0;
  line-height: 150%;
}
.title h2 a{
  font-size: 12px;
}
.main .albums ul{
  font-size: 0;
  margin: -10px 0 0 -10px;
}
.main .albums ul li{
  display: inline-block;
  font-size: 12px;
  margin: 10px 0 0 10px;
}
.main .albums ul li>a img{
  vertical-align: bottom;
}
/* 爱恨法则 l v h  */
.main .albums ul li div a{
  vertical-align: top;
}

.main .albums ul li div span{
  color: #999;
}


/* main-笔记 */
.main .notes{
  overflow: hidden;
}
.main .notes .note-item{
  margin-bottom: 12px;
}
.main .notes .note-item .note-title a{
  font-size: 12px;
}

.main .notes .note-item .author{
  font-size: 12px;
  color: #999;
}
.main .notes .note-item p{
  color: #666;
}
/* 侧边栏 */
.main-wapper .side{
  float: right;
  width: 265px;
  margin-left: 30px;
}
.main-wapper .side .title-img{
  font-size: 0;
  margin-bottom: 10px;
}
.side .artical-list .artical{
  margin-bottom: 15px;
}
.side .artical-list .artical .artical-title{
  display: inline-block;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 1.3;
}
.side .artical .artical-visit{
  display: block;
  font-size: 13px;
  line-height: 1;
  color: #aaaaaa;
  margin-bottom: 15px;
}

/* 豆瓣时间 */
.category-block {
  float: left;
  width: 100px;
  margin-right: 20px;
  margin-top: -8px;
}
.category-block .category-name{
  font-size: 24px;
  color: #494949;
}
.main .time .time-item{
  display: inline-block;
  width: 100px;
  height: 141px;
  text-align: center;
  font-size: 0;
  margin-right: 60px;
  margin-bottom: 30px;
}
.main .time .time-item img{
  height: 100%;
  width: 100%;
  margin-bottom: 8px;
}
.main .time .time-item .desc{
  font-size: 13px;
  color: #333333;
  line-height: 1.38;
}
.main .time .time-item .desc:hover{
  color: #fff;
}
.main .time .time-item h3{
  color: #999999;
  line-height: 1;
  margin-top: 10px;
  display: block;
  font-size: 13px;
}
/* 电影 */
/* 左边 */
.main .movie-left{
  float: left;
  width: 100px;
  margin-right: 20px;
  color: #27a;
}
.category-name{
  font-size: 24px;
}
.movie-left ul li{
  font-size: 14px;
  margin-top: 5px;
}
.movie-left ul li img{
  top: -5px;
  position: relative;
}

/* 中间 */
.main .movie-main{
  overflow: hidden;
}
.movie-main .movie-list .movie-item{
  display: inline-block;
  text-align: center;
  width: 24.4%;
  margin-bottom: 20px;
}
.movie-main .movie-list .movie-item .pic{
  font-size: 0;
  height: 145px;
  overflow: hidden;
}
.movie-main .movie-list .movie-item .pic img{
  width: 100px;
}
.movie-main .movie-list .movie-item .name a{
  color: #333;
}
.movie-main .movie-list .movie-item .name a:hover{
  color: #fff;
  background-color: #27a;
}

.movie-main .movie-list .movie-item button{
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  padding: 2px 10px;
  border-radius: 2px;
  font-size: 12px;
  background: #1c8bd0;
  color: #fff;
  outline: 0;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.movie-main .movie-list .movie-item button:hover{
  background: #047fcb;
}
/* 右边 */
.main .movie-right{
  float: right;
  width: 265px;
  height: 100px;
  margin-left: 30px;
}
.movie-right .movie-category .category-item{
  display: inline-block;
  width: 4em;
  margin-top: 4px;
  text-align: left;
}
.movie-right .movie-category{
  margin-bottom: 30px;
}
.movie-right .movie-hot .hot-item{
  list-style: decimal;
  border-bottom: 1px solid #eaeaea;
  list-style-position: inside;
  padding-bottom: 4px;
  margin-bottom: 5px;
}
/* 小组 */

/* 左边 */
.group-left{
  float: left;
  width: 100px;
  margin-right: 20px;
}
.group-left .category-name{
  color: #007982;
}
.group-left ul li{
  margin-top: 5px;
  font-size: 14px;
}
/* 中间 */
.group-main{
  overflow: hidden;
  height: 300px;
}
.group-main .group-item{
  display: inline-block;
  width: 45%;
  margin: 15px 0;
}
.group-main .group-item>a{
  display: inline-block;
  font-size: 0;
}
.group-main .group-item a img{
  width: 48px;
  height: 48px;
}
.group-main .group-item .info{
  position: relative;
  top: -10px;
  display: inline-block;
  font-size: 12px;
  margin-left: 8px;
}
.group-main .group-item .info span {
  color: #999;
}

.group-right{
  float: right;
  width: 265px;
  margin-left: 30px;
}

/* 读书左侧 */

.book .main-wapper .layout-left .section-title a{
  color: #f38c00;
}
.layout-left .icon>a{
  font-size: 0;
}
.layout-left .icon .iconfont{
  font-size: 48px;
}
.layout-left .icon div{
  margin-top: -20px;
}
.layout-left .icon div a:hover{
  color: #fff;
}
/* .layout-left .icon a:nth-child(2){
  margin-top: -20px;
  display: inline-block;
} */

.book a{
  color: #555d53;
}
.pic {
  height: 148px;
  overflow: hidden;
  margin-bottom: 5px;
}
.pic a>img{
  width: 100px;
}
.layout-main ul{
  margin-bottom: 25px;
}
.layout-main ul>li{
  display: inline-block;
  text-align: center;
  width: 24.4%;
}
.layout-main ul>li .author{
  margin-bottom: 5px;
}
.layout-main ul>li .button{
  background-color: #999a95;
  color: #fff;
  border-radius: 3px;
  padding: 4px 8px;
}

/* ***********************读书-右侧****************************8 */
.layout-right .tab-item{
  margin-top: 10px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 7px;
}
.layout-right .tab-item li{
  float: left;
  margin-left: 10px;
  font-size: 12px;
}

/* ************************音乐区域*********************************** */

/* ************音乐-左侧*********** */
.music a{
  color: #555d53;
}
.music a:hover{
  color: #fff;
}
.music .main-wapper .layout-left .section-title a{
  color: #f38c00;
}
.layout-left ul>li>a:hover{
  color: #fff;
}
/* ************音乐-主要区域*********** */
.music .layout-main .pic{
  position: relative;
  height: 80px;
}
.music .layout-main .pic img{
  width: 80px;
}
.music .layout-main .pic .cover{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 9;
  width: 44px;
  height: 44px;
  background-image: url(../imgs/timeline-player-cover.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
.music .layout-main .name,.music .layout-main .author{
  width: 100px;
  margin: 0 auto;
}
 .layout-main .name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* ************音乐-右侧区域*********** */
.music .layout-right ul li{
  list-style: decimal;
  margin-bottom: 8px;
}
.music .layout-right .img{
  float: left;
  position: relative;
  width: 48px;
  height: 48px;
  font-size: 0;
  margin-right: 10px;
}
.music .layout-right .img:hover .cover{
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-image: url(../imgs/ic_bg_play.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: rgba(0, 0, 0, 0.65);
}
.music .layout-right .info{
  overflow: hidden;
}
.music .layout-right .info .desc {
  padding-top: 4px;
  color: #999;
  font-size: 12px;
}


/* ************************豆品区域*********************************** */

/* ************************豆品区域-左侧边栏*********************************** */
.dou-pin .layout-left .section-title a{
  color: #1f9432;
}

/* ************************豆品区域-主要区域*********************************** */
.dou-pin .layout-main ul li{
  width: 220px;
  margin-left: 15px;
  margin-bottom: 30px;
}
.dou-pin .layout-main .img{
  font-size: 0;
}
.dou-pin .layout-main .img img{
  width: 220px;
  height: 240px;
  
}
.dou-pin .layout-main .info{
  width: 100%;
  line-height: 22px;
  font-size: 16px;
}

.dou-pin .layout-main .info .name{
  float: left;
}
.dou-pin .layout-main .info .price{
  color: #E55457;
  float: right;
}
.dou-pin .layout-main .info .price::before{
  content: "￥";
}
.dou-pin .layout-main .info .price::first-letter{
  font-size: 18px;
}

/* ************************豆品区域-右侧区域*********************************** */
.dou-pin .layout-right .top-img{
  font-size: 0;
  margin-bottom: 20px;
}
.dou-pin .layout-right .top-img img{
  width: 265px;
  height: 95px;
}
.dou-pin .layout-right .top-img img:hover{
  background-color: rgba(255, 255, 255, 0.4);
}
.dou-pin .layout-right .top-img a:nth-child(2){
  font-size: 14px;
}
.dou-pin .layout-right ul li{
  margin-bottom: 10px;
}
.dou-pin .layout-right ul li a{
  font-size: 14px;
}
.dou-pin .layout-right ul li .info {
  color: #6A6A6A;
  font-size: 12px;
}
.dou-pin .layout-right ul li .info span:nth-child(1){
  float: left;
}
.dou-pin .layout-right ul li .info span:nth-child(2){
  float: right;
}


/* ************************同城*********************************** */
/* 左侧 */
.city a:link{
  color: #643;
}
.city a:hover{
  color: #fff;
}
.city .layout-left .section-title a{
  color: #ec5303;
}
/* 主区域 */
.city .layout-main ul>li{
  width: 248px;
  margin-right: 10px;
}
.city .layout-main  ul li .pic {
  font-size: 0;
  float: left;
  width: 70px;
  height: 130px;
  margin-right: 10px;
}
.city .layout-main  ul li .pic img{
  height: 90px;
}
.city .layout-main  ul li .info{
  overflow: hidden;
  text-align: left;
}
.city .layout-main  ul li .info .desc{
  font-size: 12px;
  color: #666;
}

/* 右侧 */
.city .layout-right .type{
  font-size: 14px;
}
.city .layout-right ul{
  margin-bottom: 10px;
}
.city .layout-right ul li{
  float: left;
  margin-right: 10px;
  font-size: 12px;
}
/* ************************底部*********************************** */
.bottom .main-wapper{
  border-top: 1px dashed #dcdcdc;
  height: 300px;
  
}
.bottom .layout-left{
  padding-top:10px;
  width: 50%;
  margin-right: 45px;
}
.bottom .layout-left p{
  font-size: 12px;
  color: #999;
}

.bottom .layout-main a{
  padding-right: 5px;
}
