.main{

}
.top-mark{
  position:absolute;
  width: 28px;
  height: 40px;
  background-image: url(../img/top.png);
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.top-mark::after{
  position: absolute;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  bottom: 4px;
  left: 4px;
}
.top-1::after{
  content: "01";
}
.top-2::after{
  content: "02";
}
.top-3::after{
  content: "03";
}
.top-mark::before{
  content: "TOP";
  display: block;
  position: absolute;
  top: 0;
  left: 1px;
  font-weight: bold;
  color: #e6ac36;
}
.main .top {
  height: 470px;
  margin-left: 200px;
}
/* 轮播图 */
.main .top .focus{
  width: 790px;
  height: 100%;
  float: left;
}
/* ======公共样式-轮播图========== */
/* 滑动条 */
.slider-list{
  position: absolute;
  width: 4200px;
  height: 100%;
  left: 0;
  transition: all 1s ease-in-out;
}
/* 滑动项 */
.slider-item{
  width: 800px;
  height: 100%;
  float: left;
}
/* 左右滑动按钮 */
.slider-btn{
  position: absolute;
  height: 35px;
  width: 25px;
  background-color: rgb(0,0,0,.15);
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.slider-btn:focus{
  outline: none;
}
.slider-btn:hover{
  background-color: rgb(0,0,0,.35);
}
.btn-l{
  left: 0;
  top: calc(50% - 15px);
  border-radius: 0 15px 15px 0;
}
.btn-r {
  right: 0;
  top: calc(50% - 15px);
  border-radius: 15px 0 0 15px;
}
.slider-radius{
  position: absolute;
  bottom: 0;
  line-height: 15px;
  font-size: 0;
  right: 30px;
}
.slider-radius i.current-radius{
  position: relative;
  top: 2px;
  left: 0px;
  width: 9px;
  height: 9px;
  background-color: #fff;
  border: 3px solid rgba(0, 0, 0, .1);
}
.slider-radius i{
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 4px;
  border: 1px solid rgba(0,0,0,.05);
  border-radius: 50%;
  background: rgba(255,255,255,.4);
}



/* 轮播图-主要 */
/* 可视窗口-超出部分隐藏 */
.main .top .focus .main-focus{
  float: left;
  position: relative;
  overflow: hidden;
  height: 470px;
  width: 590px;
  margin-right: 10px;
}
/* 窗口固定，滑动这个轮播条 */
.main .top .focus .main-focus .slider-list{
  position: absolute;
  transition: all 1s ease-in-out;
  left: 0;
  width: 4200px;
  height: 100%;
}
/* 图片左浮动，组成一行 */
.main .top .focus .main-focus .slider-list ul li{
  float: left;
  height: 470px;
  width: 590px;
}
.main .top .focus .main-focus .slider-list ul li a img{
  height: 470px;
  width: 590px;
}


/* 轮播图-侧边 */
.main .top .focus .sider-focus{
  float: left;
  height: 470px;
  width: 190px;
  font-size: 0;
}
.main .top .focus .sider-focus ul li {
  margin-bottom: 10px;
}
.main .top .focus .sider-focus ul li a img{
  width: 190px;
  height: 150px;
}
/* 服务 */
.main .top .services{
  background-color: #fff;
  position: relative;
  float: right;
  box-sizing: border-box;
  width: 190px;
  height: 470px;
  padding: 13px;
}
/* 服务-用户 */
.main .top .services .service-user{
  margin-left: 10px;
  position: relative;
  margin-bottom: 10px;
}
.main .top .services .service-user .user-login{
  height: 50px;
}
.main .top .services .service-user .user-login .user-avatar{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
}
.main .top .services .service-user .user-login .user-avatar img{
  height: 100%;
  width: 100%;
}
.main .top .services .service-user .user-login>div{
  display: inline-block;
}
.main .top .services .service-user .user-login .user-info{
  position: relative;
  top: -8px;
  left: 6px;
}
.main .top .services .service-user .user-login .user-info p{
  color: #666;
}
.main .top .services .service-user .user-login .user-info>a{
  color: #333;
}
.main .top .services .service-user .user-btns{
  height: 32px;
  padding-bottom: 6px;
}
.main .top .services .service-user .user-btns button{
  transition: all .2s ease-in-out;
  border-radius: 15px;
  height: 25px;
  width: 70px;
  font-size: 12px;
  border: none;
}
.main .top .services .service-user .user-btns .new{
  color: #fff;
  background-color: #e1251b;
  line-height: 25px;
}
.main .top .services .service-user .user-btns .vip{
  background: #363634;
  color: #e5d790;
}
.main .top .services .service-user .user-btns .vip:hover{
  color: #fff;
  background-color: #e1251b;
}
.main .top .services .service-user .user-btns::after{
  content: " ";
  position: absolute;
  left: 15px;
  right: 15px;
  height: 1px;
  background: linear-gradient(270deg,white,#eeeeee,#eeeeee,white);
  bottom: 0;
}
/* 服务-新闻 */
.main .top .services .service-news{
  margin-top: 6px;
  height: 130px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}
.main .top .services .service-news .title{
  height: 25px;
}
.main .top .services .service-news .title h1{
  float: left;
  font-size: 14px;
  font-weight: 700;
  color: #333;
}
.main .top .services .service-news .title a{
  float: right;
  color: #666;
}
.main .top .services .service-news ul li {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}
.main .top .services .service-news ul li a span{
  background-color: rgba(225,37,27,.08);
  color: #e1251b;
  padding: 0 8px;
}
.main .top .services .service-news ul li a{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .top .services .service-news ul::after{
  content: " ";
  position: absolute;
  left: 15px;
  right: 15px;
  height: 1px;
  background: linear-gradient(270deg,white,#eeeeee,#eeeeee,white);
  bottom: 0;
}

/* 服务-充话费啥的 */
.main .top .services .service-item ul li {
  width: 53px;
  height: 55px;
  text-align: center;
  float: left;
}
.main .top .services .service-item ul li a img{
  width: 28px;
  height: 28px;
}
/* ===============秒杀专区-开始======================= */
.main .seckill{
  height: 260px;
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: #fff;
}
/* ----秒杀-计时器---- */
.main .seckill .timmer{
  float: left;
  width: 190px;
  height: 100%;
  background-color: #666;
  background-image: url(../img/seckill-timmer.png);
  background-size: contain;
}
.main .seckill .timmer h1{
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  margin-top: 30px;
}

.main .seckill .timmer .counter{
  margin-top: 100px;
  text-align: center;
  color: #fff;
}
.main .seckill .timmer .counter>p{
  font-size: 14px;
}
.main .seckill .timmer .counter>p strong{
  font-size: 18px;
  font-weight: 700;
}
.main .seckill .timmer .clock{
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
}
.main .seckill .timmer .clock p span{
  position: relative;
  background-color: #333;
  padding: 4px;
  
}
.main .seckill .timmer .clock p .hour,.main .seckill .timmer .clock p .minute{
  margin-right: 15px;
}
.main .seckill .timmer .clock p .hour::after,.main .seckill .timmer .clock p .minute::after{
  content: ":";
  position: absolute;
  display: block;
  top: 0;
  right: -20px;
  width: 20px;
  text-align: center;
}
/* -----秒杀专区-秒杀列表-------- */
/* 窗口 */
.main .seckill .seckill-list{
  position: relative;
  float: left;
  width: 800px;
  height: 100%;
  overflow: hidden;
}
/* 滑动条 */
.main .seckill .seckill-list .slider-list{
  position: absolute;
  width: 4200px;
  height: 100%;
}
.main .seckill .seckill-list .slider-list .slider-item{
  height: 100%;
  width: 800px;
  float: left;
}
.main .seckill .seckill-list .slider-list .slider-item .goods-item{
  float: left;
  width: 200px;
  height: 260px;
  text-align: center;
}
.main .seckill .seckill-list .slider-list .slider-item .goods-item img{
  display: block;
  width: 140px;
  height: 140px;
  margin: 0 auto;
  margin-top: 30px;
}
.main .seckill .seckill-list .slider-list .slider-item .goods-item .desc{
  width: 140px;
  margin: 0 auto;
  margin-top: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.main .seckill .seckill-list .slider-list .slider-item .goods-item .price{
  width: 158px;
  height: 22px;
  line-height: 22px;
  margin: 0 auto;
  margin-top: 5px;
  border: 1px solid #e1251b;
}
.price .miaosha_price{
  position: relative;
  left: -1px;
  float: left;
  width: 92px;
  font-size: 16px;
  font-weight: bold;
  background-color: #e1251b;
  color: #fff;
}
.price .miaosha_price::before{
    content: " ";
    width: 0;
    height: 0;
    border-color: transparent white transparent transparent;
    border-style: solid;
    border-width: 22px 8px 0 0;
    position: absolute;
    top: 0;
    left: 84px;
}
.price .miaosha_price::first-letter{
  font-size: 12px;
}
.price .origin_price{
  width: 66px;
  float: left;
  font-size: 8px;
  text-decoration: line-through;
  color: #999;
}
/* 小秒杀 */
.main .seckill  .seckill-brand{
  float: left;
  position:relative;
  width: 200px;
  height: 100%;
  overflow: hidden;
  
}
.main .seckill  .seckill-brand .slider-list{
  position: absolute;
  width: 1000px;
  height: 100%;
  left: 0;
}
.main .seckill  .seckill-brand .slider-list .slider-item{
  float: left;
  width: 200px;
  height: 100%;
}
.main .seckill  .seckill-brand .slider-list .slider-item img{
  width: 140px;
  height: 140px;
  display: block;
  font-size: 0;
  margin: 0 auto;
  margin-top: 30px;
}
.main .seckill  .seckill-brand .slider-list .slider-item .info{
  width: 100%;
  height: 120px;
  background: linear-gradient(180deg,rgba(255,255,255,.5),rgba(220,224,236,.5));
  text-align: center;
  font-size: 14px;
  color: #666;
}
.main .seckill  .seckill-brand .slider-list .slider-item .info .pay-way{
  font-weight: bold;
  color: #333;
  font-size: 15px;
}
.main .seckill  .seckill-brand .slider-list .slider-item .info button{
  background-color: transparent;
  border: 1px solid #e1251b;
  color: #e1251b;
  border-radius: 15px;
  padding: 2px 10px;
  cursor: pointer;
}
.main .seckill  .seckill-brand .slider-list .slider-item .info button:hover{
  background-color: #e1251b;
  color: #fff;
}
/* ===============秒杀专区-结束======================= */

/* ===============特选专区-开始======================= */
.main .special{
  height: 980px;
}
.tab{
  float: left;
  position: relative;
  height: 340px;
  width: 590px;
  box-sizing: border-box;
}
.tab-tit{
  position: absolute;
  left: 15px;
  top: 12px;
  font-size: 24px;
  font-weight: bold;
}
.tab-tit::after{
  content: ">";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #e1251b;
  color: #e1251b;
  border-radius: 50%;
  font-size: 12px;
  line-height: 12px;
  text-indent: 3px;
  margin-left: 7px;
}
.tab-tit:hover::after{
  background-color: #e1251b;
  color: #fff;
}
/****** 特选专区-每日特价 ***********/
.core1 {
  margin-bottom: 20px;
}
.daily{
  margin-right: 10px;
  background-color: #fff;
}

.daily .daily-items{
  height: 50px;
  padding-top: 20px;
  
}

.daily .daily-item {
  float: right;
  text-align: center;
  font-size: 15px;
  margin: 0 15px;
}
.daily .daily-item h1{
  color: #999;
}
.daily .daily-item:hover>h1{
  color: #e1251b;
  border-bottom: 2px solid;
}
.daily .daily-items .daily-goods{
  display: none;
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 560px;
  height: 270px;
  box-sizing: border-box;
}
/* 鼠标悬浮显示 */
.daily .daily-items .daily-item:first-of-type .daily-goods{
  display: block;
}
/* 特价最好 */
.daily .daily-item .daily-goods .goods-best{
  float: left;
  height: 100%;
  width: 170px;
  margin-right: 5px;
  font-size: 14px;
  color: #000;
  background: rgba(109,126,146,.05);
}
.daily .daily-item .daily-goods .goods-best .goods-pic{
  display: block;
  height: 120px;
  width: 120px;
  margin: 30px auto;
  margin-bottom: 10px;
}
.daily .daily-item .daily-goods .goods-best .why-best{
  display: block;
  width: 90px;
  height: 24px;
  background-image: url(../img/goods-why-best.png);
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
}
.daily .daily-item .daily-goods .price{
  text-align: center;
}
.daily .daily-item .daily-goods .price .miaosha_price{
  background-color: transparent;
  color: #e1251b;
  width: initial;
  top: -3px;
  float: none;
}
.daily .daily-item .daily-goods .price .miaosha_price::before{
  display: none;
}
.daily .daily-item .daily-goods .price .origin_price{
  width: initial;
  float: none;
  vertical-align: top;
}
/* 特价-项目 */
.daily .daily-item .daily-goods .goods-list{
  overflow: hidden;
  margin-left: 5px;
  height: 100%;
}
.daily .daily-item .daily-goods .goods-list .goods-item{
  float: left;
  width: 170px;
  height: 89px;
  margin: 24px 0 35px 12px;
}
.daily .daily-item .daily-goods .goods-list .goods-item  .img{
  float: left;
  position:relative;
  height: 84px;
  width: 84px;
  margin-right: 5px;
}
.daily .daily-item .daily-goods .goods-list .goods-item  .img img{
  height: 84px;
  width: 84px;
}
.daily .daily-item .daily-goods .goods-list .goods-item .img span{
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 12px;
  color: #fff;
  background-color: rgba(20, 20, 20, 0.5);
}
.daily .daily-item .daily-goods .goods-list .goods-item .info{
  width: 75px;
  overflow: hidden;
  font-size: 12px;
}
.daily .daily-item .daily-goods .goods-list .goods-item .info .desc{
  display: inline-block;
    width: 100%;
    height: 32px;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    font-family: Microsoft Yahei,PingFangSC-Medium,sans-serif,serif;
}
.daily .daily-item .daily-goods .goods-list .goods-item .info .price .miaosha_price, .daily .daily-item .daily-goods .goods-list .goods-item .info .price .origin_price{
  display: block;
  text-align: left;
  top: 5px;
}

/****** 特选专区-品牌闪购 ***********/
.flash-buy {
  text-align: center;
  background-color: #fff;
}
.flash-buy .tab-body{
  width: 560px;
  height: 270px;
  margin: auto;
  margin-top: 55px;
}
.flash-buy .flash-big{
  float: left;
  text-align: center;
  color: #666;
  width: 270px;
  height: 265px;
  margin-right: 10px;
  background: linear-gradient( 180deg ,rgba(119,255,233,.05),rgba(0,93,70,.05));
  
}
.flash-buy .flash-big img{
  display: block;
  width: 130px;
  height: 130px;
  margin: auto;
}
.flash-buy .flash-title{
  margin-top: 75px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.flash-buy .flash-items{
  position: relative;
  top: -30px;
  overflow: hidden;
  height: 295px;
}
.flash-buy .flash-items .flash-item{
  float:left;
  cursor: pointer;
  width: 135px;
  height: 100px;
  margin-right: 2px;
  color: #666;
}
.flash-buy .flash-items .flash-item img{
  width: 100px;
  height: 50px;
  display: block;
  margin: auto;
}

/* ==================好货=============================== */
.special .nice-goods{
  width: 100%;
  height: 260px;
  margin-bottom: 20px;
  background-color: #fff;
}
.nice-goods .nice-goods-left{
  width: 190px;
  float: left;
  height: 100%;
  margin-right: 10px;
  background-image: url(../img/nice-goods-title.png);
}
.nice-goods .nice-goods-left .nice-goods-left-info{
  position: relative;
  height: 90px;
  width: 160px;
  margin: auto;
  margin-top: 15px;
}
.nice-goods .nice-goods-left .nice-goods-left-info .pic{
  width: 160px;
  height: 90px;
  margin: auto;
  background-image: url(../img/nice-goods-found.png);
}
.nice-goods .nice-goods-left .nice-goods-left-info .tab-tit{
  font-size: 16px;
  font-weight: normal;
  height: 20px;
  text-align: center;
  color: #999;
  left: 32px;
  top: 56px;
   
}
/* 好货----右侧轮播 */
.nice-goods .nice-goods-slider{
  position: relative;
  overflow: hidden;
  height: 100%;
}
.nice-goods .nice-goods-slider .slider-list .slider-item{
  position: relative;
  width: 150px;
  height: 100%;
  padding: 20px 0;
  margin:  0 24px;  
}
.nice-goods .nice-goods-slider .slider-list .slider-item .desc{
  height: 20px;
  width: 150px;
  margin-bottom: 15px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.nice-goods .nice-goods-slider .slider-list .slider-item .down{
  position: absolute;
  bottom: -25px;
}
.nice-goods .nice-goods-slider .slider-list .slider-item img{
  display: block;
  height: 150px;
  width: 150px;
}

/* ==================新品首发=============================== */
.main .special{
  margin-bottom: 20px;
}
.special .core3{
  height: 340px;
  
}
.special .core3 .tab{
  height: 340px;
  width: 290px;
  margin-right: 10px;
  box-sizing: border-box;
  background-color: #fff;
}
.special .core3 .tab:last-child{
  margin-right: 0;
}
.special .core3 .tab .tab-body{
  position: relative;
  margin-top: 50px;
  height: 290px;
  box-sizing: border-box;
}
/* ==========排行榜======== */
.special .core3 .tab .tab-body .top-type{
  float: left;
  width: 62px;
  margin: 5px 5px;
  background-color: #f6f6f6;
  color: #666;
  border-radius: 15px;
  text-align: center;
}
.special .core3 .tab .tab-body .top-type:hover{
  color: #fff;
  background-color: #e1251b;
  cursor: pointer;
}
.special .core3 .tab .tab-body .top-type .type-body{
  position: absolute;
  display: none;
  left: 0;
  top: 15px;
  height: 240px;
  width: 290px;
}
.special .core3 .tab .tab-body .top-type:first-child .type-body{
  display: block;
}
.special .core3 .tab .tab-body .top-type .type-body .type-item{
  position: relative;
  height: 70px;
  width: 260px;
  margin: 4px auto;
}
.special .core3 .tab .tab-body .top-type .type-body .type-item img{
  height: 70px;
  width: 70px;
  float: left;
  margin-left: 40px;
}
.special .core3 .tab .tab-body .top-type .type-body .type-item p{
  overflow: hidden;
  height: 33px;
  margin-top: 16px;
  font-size: 14px;
  line-height: 16px;
  color: #333;
}
/* ==========逛好店======== */
.tab .tab-body .shop-card{
  width: 260px;
  height: 128px;
  overflow: hidden;
  box-sizing: border-box;
  margin: 15px auto;
  background-color: #f0f8ff;
}
.tab .tab-body .shop-card .info{
  float: left;
  width: 120px;
  height: 100%;
  margin: 10px;
  font-size: 14px;
  color: #333;
}
.tab .tab-body .shop-card .info .tag span{
  font-size: 12px;
  border: 1px solid;
  border-radius: 3px;
  padding: 0 3px;
  color: #e1251b;
}
.tab .tab-body .shop-card .info .tag span:nth-of-type(2){
  color: #e6ac36;
}
.tab .tab-body .shop-card .info .focus{
  font-size: 12px;
  color: #999;
  margin-top: 20px;
}
.tab .tab-body .shop-card img{
  display: block;
  overflow: hidden;
  height: 90px;
  width: 90px;
  margin-top: 20px;
}
/* ==========领券中心======== */
.tab .tab-body .quans{
  height: 100%;
  width: 100%;
  background-image: url(../img/quan-back.png);
  background-repeat: no-repeat;
  background-size:cover;
}
.tab .tab-body .quans .quan-item{
  width: 100%;
  height: 88px;
  box-sizing: border-box;
  padding: 0 20px;
  padding-top: 7px;
}
.tab .tab-body .quans .quan-item .img{
  float: left;
  height: 66px;
  width: 66px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  margin-right: 5px;
}
.tab .tab-body .quans .quan-item img{
  padding-top: 10px;
  height: 50px;
  width: 50px;
}
.tab .tab-body .quans .quan-item .info{
  width: 140px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tab .tab-body .quans .quan-item .info .price{
  background-color: transparent;
  color: #e1251b;
  font-size: 28px;
  font-weight: bold;
  font-family: impact,sans-serif;
}
.tab .tab-body .quans .quan-item .info .price::first-letter{
  font-size: 14px;
}
.tab .tab-body .quans .quan-item .info .condition{
  color: #666;
}
.tab .tab-body .quans .quan-item .more{
  float: right;
  width: 10px;
}
/* =============================频道广场=================================== */
.main .channel{
  height: 1005px;
  width: 100%;
  margin-bottom: 10px;
}
.main .channel .channel-title{
  height: 65px;
  font-size: 24px;
  line-height: 65px;
  font-weight: bold;
  text-align: center;
}
.main .channel .channel-title span::before{
  width: 25px;
  height: 20px;
  display: inline-block;
  margin-right: 20px;
  content: "";
  background-image: url(../img/channel-title.png);
}
.main .channel .channel-title span::after{
  width: 25px;
  height: 20px;
  display: inline-block;
  margin-left: 20px;
  content: "";
  background-image: url(../img/channel-title.png);
  background-position: -25px 0;
}
.channel .channel-item{
  width: 290px;
  float: left;
  box-sizing: border-box;
  
}
.channel .channel-item-1{
  height: 180px;
  background-color: #fff;
}
.channel .channel-item-2{
  position: relative;
  height: 370px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.channel .channel-item::after{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: rgba(255,255,255,.2);
  opacity: 0;
  transition: opacity .2s ease;
}
.channel .channel-item:hover::after{
  opacity: 1;
}
.channel  div:nth-of-type(4n){
  margin-right: 0;
}
.channel .channel-item-2 .channel-item-1:first-child{
  margin-bottom: 10px;
}
/* 大图 */
.channel .channel-item-2 .big-img img{
  height: 370px;
  width: 290px;
}
.channel .channel-item .card{
  height: 100%;
  width: 100%;
}
.channel .channel-item .card .card-header{
  height: 45px;
  width: 150px;
  margin-left: 35px;
  margin-top: 15px;
  width: 100%;
}
.channel .channel-item .card .card-header h1{
  font-size: 22px;
  font-weight:  bold;

}
.channel .channel-item .card .card-header h1 span{
  font-size: 14px;
  font-weight: normal;
  color: #999;
}
.channel .channel-item .card .card-img{
  height: 100px;
  width: 100%;
  text-align: center;
}
.channel .channel-item .card .card-img img{
  height: 100px;
  width: 100px;
  margin: 0 10px;
}